// change the theme
:root {
  --font-color: #424242;
  --bg-color: #fff;
  --white: #fff;
}

[data-theme="dark"] {
  --font-color: #e1e1ff;
  --bg-color: hsl(240deg 13% 11%);
  --white: #000;
}

$primary: #2de2cf;
$secondary: rgb(135, 227, 135);
$danger: #fa5c7c;
$warning: #ffbc00;
$dark: rgb(59, 59, 59);

body{
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: background .4s, color .4s;
  margin: 0;
  font-family: cursive;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

h1{
  color: $primary;
  transition: background .4s, color .4s;
}

h2{
  color: $primary;
  transition: background .4s, color .4s;
}

h3{
  color: $primary;
  transition: background .4s, color .4s;
}

input:checked + .slider {
  background-color: $primary!important;
}

.button-primary{
  background-color:  $primary;
  cursor: pointer;
  color: #fdfdfd;
  transition: all .4s;
}

.button-primary:hover{
  filter: opacity(0.8);
}

.border-primary{
  border-color: $primary;
}

.border-secondary{
  border-color: $secondary;
}

.text-primary{
  color: $primary;
}

.text-secondary{
  color: $secondary;
}

.text-danger{
  color: $danger;
}

.text-warning{
  color: $warning;
}

.bg-black{
  background-color: var(--white);
  transition: background .4s, color .4s;
}

.bg-primary{
  background-color: $primary;
}

.bg-secondary{
  background-color: $secondary;
}

.bg-danger{
  background-color: $danger;
}

.bg-warning{
  background-color: $warning;
}