// change the theme
$primary: green;
$secondary: rgb(148, 173, 148);
$danger: #fa5c7c;
$warning: #ffbc00;

body{
  color: $primary;
}

.border-primary{
  border-color: $primary;
}

.border-secondary{
  border-color: $secondary;
}

.text-primary{
  color: $primary;
}

.text-secondary{
  color: $secondary;
}

.text-danger{
  color: $danger;
}

.text-warning{
  color: $warning;
}

.bg-primary{
  background-color: $primary;
}

.bg-secondary{
  background-color: $secondary;
}

.bg-danger{
  background-color: $danger;
}

.bg-warning{
  background-color: $warning;
}